.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.ad {
  display: flex;
  align-items: center;
  width: 500px;
  height: 106px;
  justify-content: space-between;
  border: 1px solid gray;
  margin-bottom: 8px;
  padding: 8px;
  position: relative;
}

.image {
  background-position: center;
  background-size: cover;
  border: 1px solid #e0e7ef;
  border-radius: 1.5px;
  width: 96px;
  height: 90px;
  padding: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 20px;

  width: 196px;
  position: absolute;
  left: 120px;
}

.name {
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  color: #003368;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  color: #cc0000;
  margin-top: 8px;
}

.star {
  font-size: 20px;
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 469.5px;
}

.footer {
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans";
  color: #848484;
}

.blueStar {
  filter: invert(28%) sepia(92%) saturate(2150%) hue-rotate(169deg)
    brightness(93%) contrast(104%);
}
